name: C++ Unit Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      BUILD_TYPE: Release

    steps:
      - uses: actions/checkout@v4

      - name: Install CMake
        uses: lukka/get-cmake@latest
        with:
          cmakeVersion: "latest"
      - name: Configure CMake
        run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DMIXAL_ENABLE_TESTS=ON -DMIXAL_ENABLE_COVERAGE=ON

      - name: Build
        run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

      - name: Test
        working-directory: ${{github.workspace}}/build
        run: ctest -C ${{env.BUILD_TYPE}} --output-on-failure

      - name: Install Coverage
        run: sudo apt-get update && sudo apt-get install -y lcov

      - name: Coverage
        run: |
          ls -lh ${{github.workspace}}/build
          lcov --directory ${{github.workspace}}/build --capture --output-file ${{github.workspace}}/build/coverage.info --ignore-errors mismatch --rc geninfo_unexecuted_blocks=1 
          lcov --remove ${{github.workspace}}/build/coverage.info '/usr/*' '*/_deps/*' 'tests/' --output-file ${{github.workspace}}/build/coverage.info

      - name: Coveralls
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: ${{github.workspace}}/build/coverage.info
