name: Python Build & Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install CMake
        uses: lukka/get-cmake@latest
        with:
          cmakeVersion: "latest"

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.8

      - name: Build
        run: |
          python -m pip install --upgrade pip
          pip install scikit-build-core pybind11
          pip install -e ".[test]"

      - name: Lint
        run: |
          black python/wrapper python/tests
          isort python/wrapper python/tests
          flake8 python/wrapper python/tests

      - name: Test
        run: |
          pytest -v python/tests
